body {

    background: #222;
    color: #CCC;
    font-family: Verdana, sans-serif;

    h1 {
        font-size: 32pt;
        font-weight: 700;
        line-height: 1.5em;
    }

    p {
        font-size: 16pt;
        font-weight: 400;
    }

    a {
        color: #666;
        text-decoration: none;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translate( -256px, 0 ); }
        to { opacity: 1; transform: translate( 0,0 ); }
    }

    @keyframes fadeOut {
        from { opacity: 1; transform: translate( 0,0 ); }
        to { opacity: 0; transform: translate( 256px, 0 ); }
    }

    #transition-container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow:hidden;

        #page {

            position: absolute;
            left: 64px;
            top: 64px;
            right: 64px;
            bottom: 64px;
            border: 2px solid #000;

            background: #111;
            padding: 64px;
            animation: fadeIn 800ms ease-in-out;

			#tasks {
				background: #333;
				margin: 16px;
				border: 1px solid #AAA;
				box-shadow: 4px 4px 8px rgba( 0,0,0,0.5 );

				.taskList {
					margin: 8px;
                    padding: 16px;
					float:left;
					width: 288px;
					min-height: 72px;
					background: #222;
					border: 1px solid #000;

					.task {
						display: block;
						margin-bottom: 8px;
						width: 256px;
						background: #000;
						border: 1px solid #888;
						box-shadow: 2px 2px 4px rgba( 0,0,0,0.5 );

                        &:last-child{ margin-bottom: 0; }

						.task-name {
							font-size: 16pt;
							font-family: Tahoma;
							font-weight: 400;
							background: #222;
							border-bottom: 1px solid #AAA;
							padding-left: 4px;
						}

						.task-content {
							font-size: 12pt;
							font-family: Verdana;
							font-weight: 400;
							padding: 4px;
						}

						&:hover { cursor:pointer; }
						&.ui-sortable-helper {
							cursor: url("../medias/drag_cursor.png"), move;
							border: 3px solid #AAA;
							background: #181818;
						}
					}

					.taskPlaceholder {
						display: block;
                        margin-top: 8px;
                        margin-bottom: 8px;
						background: rgba( 0,0,0,0.7 );
						width: 256px;
						height: 64px;
                        border: 1px dashed #888;

					}
				}
			}

            .footer {
                position: absolute;
                bottom: 0;
                right: 0;
                padding-right: 16px;
                padding-bottom: 16px;

                p {
                    font-size: 14pt;
                    font-style: italic;
                }
            }

        }

        &.is-exiting #page {
            animation: fadeOut 800ms ease-in-out;
        }
    }



}
