body {
  background: #222;
  color: #CCC;
  font-family: Verdana, sans-serif; }
  body .invisible {
    display: none; }
  body h1 {
    font-size: 32pt;
    font-weight: 700;
    line-height: 1.5em; }
  body p {
    font-size: 16pt;
    font-weight: 400; }
  body a {
    color: #666;
    text-decoration: none; }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-256px, 0); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(256px, 0); } }
  body .formInput {
    width: calc(100% - 8px);
    padding: 4px;
    background: #002;
    margin-bottom: 8px; }
    body .formInput:last-child {
      margin-bottom: 0; }
  body #transition-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    body #transition-container #page {
      position: absolute;
      left: 64px;
      top: 64px;
      right: 64px;
      bottom: 64px;
      border: 2px solid #000;
      overflow: auto;
      background: #111;
      padding: 64px;
      animation: fadeIn 800ms ease-in-out; }
      body #transition-container #page .taskcontainer {
        position: relative;
        background: #333;
        margin: 16px;
        min-height: 160px;
        padding-left: 40px;
        border: 1px solid #AAA;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); }
        body #transition-container #page .taskcontainer .createTaskListButton {
          position: absolute;
          left: 4px;
          top: 4px;
          width: 32px;
          height: 32px;
          background: #000;
          border: 1px solid #555;
          line-height: 32px;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          cursor: pointer; }
          body #transition-container #page .taskcontainer .createTaskListButton:hover {
            background: #222; }
          body #transition-container #page .taskcontainer .createTaskListButton:active {
            border-color: #000; }
        body #transition-container #page .taskcontainer .taskList {
          position: relative;
          margin: 8px;
          padding: 16px;
          padding-top: 64px;
          float: left;
          width: 288px;
          min-height: 72px;
          background: #222;
          border: 1px solid #000; }
          body #transition-container #page .taskcontainer .taskList::before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 48px;
            background: #111;
            content: attr(data-category);
            border-bottom: 1px solid #000;
            line-height: 48px;
            padding-left: 8px;
            font-size: 14pt;
            font-weight: 700; }
          body #transition-container #page .taskcontainer .taskList .taskList-button {
            position: absolute;
            top: 8px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background: #000;
            font-size: 12pt;
            font-weight: 400;
            border: 1px solid #888;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer; }
            body #transition-container #page .taskcontainer .taskList .taskList-button:hover {
              background: #222; }
            body #transition-container #page .taskcontainer .taskList .taskList-button:active {
              background: #111;
              border-color: #000;
              color: #333; }
            body #transition-container #page .taskcontainer .taskList .taskList-button.taskList-close {
              right: 8px; }
            body #transition-container #page .taskcontainer .taskList .taskList-button.taskList-edit {
              right: 48px; }
            body #transition-container #page .taskcontainer .taskList .taskList-button.taskList-add {
              right: 88px; }
          body #transition-container #page .taskcontainer .taskList .task {
            position: relative;
            display: block;
            margin-bottom: 8px;
            width: 256px;
            background: #000;
            border: 1px solid #888;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
            body #transition-container #page .taskcontainer .taskList .task:last-child {
              margin-bottom: 0; }
            body #transition-container #page .taskcontainer .taskList .task .task-button {
              position: absolute;
              top: 4px;
              width: 24px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              background: #000;
              font-size: 12pt;
              font-weight: 400;
              border: 1px solid #888;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer; }
              body #transition-container #page .taskcontainer .taskList .task .task-button:hover {
                background: #222; }
              body #transition-container #page .taskcontainer .taskList .task .task-button:active {
                background: #111;
                border-color: #000;
                color: #333; }
              body #transition-container #page .taskcontainer .taskList .task .task-button.task-close {
                right: 4px; }
              body #transition-container #page .taskcontainer .taskList .task .task-button.task-edit {
                right: 32px; }
            body #transition-container #page .taskcontainer .taskList .task .task-name {
              position: relative;
              font-size: 16pt;
              font-family: Tahoma;
              font-weight: 400;
              background: #222;
              border-bottom: 1px solid #AAA;
              padding-left: 4px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
            body #transition-container #page .taskcontainer .taskList .task .task-content {
              font-size: 12pt;
              font-family: Verdana;
              font-weight: 400;
              padding: 4px;
              -webkit-user-select: text;
              -moz-user-select: text;
              -ms-user-select: text;
              user-select: text; }
            body #transition-container #page .taskcontainer .taskList .task .task-name:hover {
              cursor: pointer; }
            body #transition-container #page .taskcontainer .taskList .task.ui-sortable-helper {
              cursor: url("../medias/drag_cursor.png"), move;
              border: 3px solid #AAA;
              background: #181818; }
          body #transition-container #page .taskcontainer .taskList .taskPlaceholder {
            display: block;
            margin-top: 8px;
            margin-bottom: 8px;
            background: rgba(0, 0, 0, 0.7);
            width: 256px;
            height: 64px;
            border: 1px dashed #888; }
        body #transition-container #page .taskcontainer::before {
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 40px;
          background: #888;
          border-right: 1px solid #888; }
      body #transition-container #page .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 16px;
        padding-bottom: 16px; }
        body #transition-container #page .footer p {
          font-size: 14pt;
          font-style: italic; }
    body #transition-container.is-exiting #page {
      animation: fadeOut 800ms ease-in-out; }

/*# sourceMappingURL=styles.css.map */
